<h1>旅行情報一覧</h1>

<%= form_with url: fetch_from_gmail_travel_infos_path, method: :post, local: true do %>
  <%= submit_tag "Gmailから最新情報を取得" %>
<% end %>

<% if @travel_infos.any? %>
  <table border="1" cellpadding="5" cellspacing="0">
    <thead>
      <tr>
        <th>予約番号</th>
        <th>搭乗日時・出発地</th>
        <th>到着日時・到着地</th>
      </tr>
    </thead>
    <tbody>
      <% @travel_infos.each do |info| %>
        <% if info.provider == 'JAL' %>
          <tr>
            <td><%= info.reservation_number %></td>
            <td>
              <%= info.flight_date %>
              <%= info.departure_time %> /
              <%= info.departure %>
            </td>
            <td>
              <%= info.flight_date %>
              <%= info.arrival_time %> /
              <%= info.arrival %>
            </td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>まだ旅行情報はありません。</p>
<% end %>





